# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.log
*.suo
*.idb
*.sdf
*.ilk
pswmgr
pswmgrd

# Specific directories
tmp
temp
easy-rsa
keys
*.opendb

# Protocol Buffer and gRpc files
*.grpc.*
*.pb.*

# Database files
*.db

# Linux files
*.swp

# Image files
*.png
